// COLORS

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%) ;
$grayishBlue: hsl(246, 25%, 77%);

// FONT

$font:'Poppins', sans-serif;

// MIXINS

@mixin box-shadow {
    box-shadow: 0 10px 0 -3px rgba(62, 60, 73, 0.3);
}

* {
    box-sizing: border-box;
}


// BODY 

body {
    font-family: $font;
    color: #fff;
    background: url(images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $red;
    display: grid;
}

// Header

.header {

    text-align: center;
    margin-top: 50px;

    .header__title {
        font-size: 28px;
        font-weight: 700;
        
    }

    .header__text {
        line-height: 1.7;
    }
    

}

// MAIN

.main__textbox {
    text-align: center;
    margin: 30px auto;
    width: 327px;
    height: 88px;
    background-color: $blue;
    border-radius: 10px;
    @include box-shadow();
}

.main__text {
    padding: 20px 50px;

    span {
        font-weight: 700;
    }
}

// Form

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    height: 442px;
    width: 327px;
    @include box-shadow();

    .form__input {
        height: 56px;
        width: 270px;
        margin: 10px;
        padding-left: 20px;
        border-radius: 7px;
        border: 1px solid $grayishBlue;
        outline: none;
    }

    .form__input::placeholder {
        color: $darkBlue;
        font-weight: 500;
        
    }

    .form__input:focus {
        border: 1px solid $blue;
        border-radius: 7px;
    }

    .form__submit {
        margin-top: 10px;
        width: 279px;
        height: 56px;
        border-radius: 10px;
        border: 1px solid $green;
        background-color: $green;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        border-bottom: 3px solid hsl(154, 59%, 40%);
        transition: background-color 0.3s linear;
    }

    .form__submit:hover {
        background-color: hsl(154, 59%, 65%);
    }

    .form__text {
        color: $grayishBlue;
        font-size: 11px;
        margin: 10px 40px;
        text-align: center;
    }

    span {
        color: $red;
    }
}



// Footer
footer {
    margin-top: 20px;
}

.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media only screen and (min-width: 76.25em){

body {

    background-image: url(images/bg-intro-desktop.png);
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header main main"
        "header header main main"
        "footer footer footer footer"
    
    ;
}

.header {
    grid-area: header;
    text-align: left;
    margin: 180px 60px;

    .header__title {
        font-size: 50px;;
    }
}

.main {
    grid-area: main;
    
}

footer {
    grid-area: footer;
}

.main__textbox {
    width: 540px;
    height: 60px; 
}

.form {
    width: 540px;
    height: 474px;

    .form__input {
        width: 460px;
    }

    .form__submit {
        width: 460px;
    }
}



}